<html>
  <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  </head>
  <body>

  <div class="container">
<!--<div class="container">
<h1>Bootstrap Modal demo</1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
  Modal with multiple actions
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal with multiple buttons</h4>
      </div>
      <div class="modal-body">
        The body of the modal, where you can show a message in single or multi-line. Even include a video. <br />
        For example, embed a youtube video! OR <br />
        Add some picture.


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn btn-info" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn btn-warning" data-dismiss="modal">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

  </body>
<!-- Button trigger modal -->



    <!--<div class="navbar navbar-fixed-top navbar-default">-->
        <!--<div class="container">-->
          <!--<div class="navbar-header"><a class="navbar-brand" href="#">Project-Client System</a><a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
              <!--<span class="glyphicon glyphicon-bar"></span>-->
              <!--<span class="glyphicon glyphicon-bar"></span>-->
              <!--<span class="glyphicon glyphicon-bar"></span>-->
            <!--</a>-->
          <!--</div>-->
            <!--<div class="navbar-collapse">-->
                <!--<ul class="nav navbar-nav">-->
                      <!--<li><a onclick="FetchCounts()">Home</a>-->
                    <!--</li>-->
                    <!--<li class="active"> <a onclick="FetchProjects()">Projects</a>-->
                    <!--</li>-->
                    <!--<li><a onclick="FetchUsers('E')">Employees</a>-->
                    <!--</li>-->
                    <!--<li><a onclick="FetchUsers('C')">Clients</a>-->
                    <!--</li>-->
                    <!--<li><a onclick="FetchUsers('A')">Admins</a>-->
                    <!--</li>-->
                     <!--<li><a onclick="FetchUserLogDetails()">User Log Details</a>-->
                    <!--</li>-->
                    <!--<li><a onclick="Logout()" style = "float:right;">Logout</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
          <!--<div class="input-group">-->
              <!--<input type="text" class="form-control" placeholder="Search Anything here" id="query" name="query" value="">-->
                <!--<div class="input-group-btn">-->
                  <!--<button type="submit" class="btn btn-success" onclick="Temp()"><span class="glyphicon glyphicon-search"></span></button>-->
                <!--</div>-->
          <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!--<br>-->
    <!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-3">-->
        <!--</div>-->
            <!--<div class="jumbotron">-->
                <!--<p id = 'createButton' style="font-size:8px"></p>-->
                <!--<p id = 'showAdmins' style="font-size:8px"></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

    <!--<div class="container">-->
<!--<h1>Bootstrap Modal demo</h1>-->

<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">-->
  <!--Modal with multiple actions-->
<!--</button>-->

<!-- Modal -->

    <script>
      token = ""
      usertype = ""
      token = localStorage.getItem("token");
      usertype = localStorage.getItem("usertype");
      console.log(document.cookie)

      function FetchProjects() {
       $.ajax({
         type: "GET",
         dataType: "json",
         headers: {
           'Authorization' : 'Token ' + token
         },
         url: "http://localhost:8000/snippets/projectlist",
         success: function(data) {
             console.log(token)
             console.log(data[0][0].created)
             x = data[0]
              var json = data[0]
              console.log(data[0])
              CreateTableFromJSON(data[0],'showProjects')
                var divContainer = document.getElementById('createButton');
         divContainer.innerHTML = "<div class='btn-group'>" + "<button type=" + '"button"' + "class=" +'"btn btn-primary"'
                 + " " + "onclick" + "=" +'"CreateProject('
                  +')"'+">Create Project</button>";
                    console.log("i am here")
            }
        })
       }

       function FetchUserLogDetails() {
       $.ajax({
         type: "GET",
         dataType: "json",
         headers: {
           'Authorization' : 'Token ' + token
         },
         url: "http://localhost:8000/snippets/userLogList",
         success: function(data) {
             console.log(token)
             console.log(data[0][0].created)
             x = data[0]
              var json = data[0]
              console.log(data[0])
              CreateTableFromJSON(data[0],'showUserLogs')
            }
        })
      }

      function FetchUsers(type) {
        $.ajax({
          type: "GET",
          dataType: "json",
          headers: {
           'Authorization' : 'Token ' + token
          },
          url: "http://localhost:8000/snippets/userslist",
          data: { user_type : type },
          success: function(data) {
            console.log("posted");
            console.log(data)
            console.log(data[0])
              var json = data[0]
              for ( var i = 0 ; i < json.length ; i++ ) {
                console.log(json[i].username)
              }
               CreateTableFromJSON(data[0])

               if ( type == 'C' ) {
               var divContainer = document.getElementById('createButton');
                divContainer.innerHTML = "<div class='btn-group'>" + "<button type=" + '"button"' + "class=" +'"btn btn-primary"'
                + " " + "onclick" + "=" +'"CreateUser(' + "'" + 'C' + "'" +
                +')"'+">Create User</button>";
                console.log("i am here")
                }

                if ( type == 'A' ) {
                var divContainer = document.getElementById('createButton');
                divContainer.innerHTML = "<button type=" + '"button"' + "class=" +'"btn btn-primary"'
                + " " + "onclick" + "=" +'"CreateUser(' +
                +')"'+">Create User</button>";
                console.log("i am here .....")
                console.log(divContainer.innerHTML)
                }

               if ( type == 'E' ) {
               var divContainer = document.getElementById('createButton');
                divContainer.innerHTML = "<div class='btn-group'>" + "<button type=" + '"button"' + "class=" +'"btn btn-primary"'
                + " " + "onclick" + "=" +'"CreateUser(' +  "'" + 'E' + "'" +
                +')"'+">Create User</button>";
                console.log("i am here")
                }
              }
             }
          )
        }

        function FetchCounts() {
        $.ajax({
          type: "GET",
          dataType: "json",
          headers: {
           'Authorization' : 'Token ' + token
          },
          url: "http://localhost:8000/snippets/GetCount",
          success: function(data) {
            console.log("posted");
            console.log(data)
            console.log(data[0])
              var json = data[0]
              var divContainer = document.getElementById('showAdmins');
              divContainer.innerHTML = "<h3>" + data.pCount + " Projects" + "</h3>" + "<br>" + "<h3>" + data.eCount  + " Employees" + 
               "</h3>" + "<br>"
               + "<h3>" +  data.cCount + " Clients" + "</h3>" + "<br>" + "<h3>" + data.aCount + " Admins" + "</h3>" + "<br>"
            }
          })
        }

       function Logout() {
       console.log("temp")
        $.ajax({
          type: "GET",
          dataType: "json",
          headers: {
           'Authorization' : 'Token ' + token
          },
          url: "http://localhost:8000/snippets/userlogout",
          success: function(data) {
             localStorage.clear();
            console.log("posted");
             window.location="http://localhost:8000/snippets/hello";
             }
          })
        }

        function GetCLient() {
        var cid = document.getElementsByName("clientId");
        console.log(cid[0].value)
        $.ajax({
          type: "GET",
          dataType: "json",
          headers: {
           'Authorization' : 'Token ' + token
          },
          url: "http://localhost:8000/snippets/userinstance?Id=" + cid[0].value ,
          data: {},
          success: function(data) {
            console.log("posted");
            console.log(data)
            var json = data[0]
            console.log(json)
            var ul = $(".myclass")
            console.log(json.username)
-            ul.html(json.username);
             }
          })
        }

        function CreateProject() {
           window.location="http://localhost:8000/snippets/createProject";
        }

        function CreateUser(userType) {
           window.location="http://localhost:8000/snippets/createUser?uType=" + userType;
        }

        function DeleteUser() {
           window.location="http://localhost:8000/snippets/deleteuser";
        }

         function EditProject() {
           window.location="http://localhost:8000/snippets/editproject";
        }

      function Delete(userId) {
      console.log(userId)
        $.ajax({
          type: "DELETE",
          dataType: "json",
           headers: {
           'Authorization' : 'Token ' + token
          },
          url: "http://localhost:8000/snippets/userinstance?Id=" + userId,
          success: function(data) {
            console.log("posted");
             }
         })
      }

      FetchCounts()

      function CreateTableFromJSON(data,divId) {
        var col = [];
        console.log(divId)
        if ( divId == "showProjects" ) {
          console.log("Show Projects")
          <!--col.push("Id");-->
          col.push("Image")
          col.push("Created");
          col.push("Title");
          col.push("Hours Spent");
          col.push("Hours Estimated");
          col.push("Last Build Date");
          col.push("Next Build Date");
         }

        else if ( divId == "showUserLogs" ){
            <!--col.push("Id");-->
            col.push("Name");
            col.push("Action");
            col.push("Time");
        }
        else {
          <!--col.push("Id");-->
          col.push("Username");
          col.push("First Name");
          col.push("Last Name");
          col.push("User Type");
          col.push("Email");
        }


        var col2 = [];
        for (var i = 0; i < data.length; i++) {
            var j = 0;
            for (var key in data[i]) {
                j++;
                if ( j == 1 ) continue;
                if (col2.indexOf(key) === -1) {
                    col2.push(key);
                }
            }
        }

        var table = document.createElement("table");
        table.className = "pure-table pure-table-bordered";
        var tr = table.insertRow(-1);
        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        if ( divId != "showUserLogs" ) {
            var th = document.createElement("th");
            th.innerHTML = "Action";
            tr.appendChild(th);
        }

        for (var i = 0; i < data.length; i++) {
            console.log(data[i]['Id'])
            tr = table.insertRow(-1);
            for (var j = 0; j < col.length; j++) {
              if ( col[j] == "Image" ) {
                var td = document.createElement("td");
                td.innerHTML = "<img src=" + '"' + data[i][col2[j]] + '"' + ">";
                tr.appendChild(td);
                console.log("----------------------------------------")
                console.log(td.innerHTML)
                console.log("----------------------------------------")
              }
              else {
                var td = document.createElement("td");
                td.innerHTML = data[i][col2[j]];
                console.log(data[i][col2[j]])
                tr.appendChild(td);
              }
            }

            console.log(divId)

            if ( divId != "showUserLogs" ) {
            console.log(data[i]['Id'])
                console.log("temp")
                var td = document.createElement("td");
                td.innerHTML ="<div class='btn-group'>" + "<button type=" + '"button"' + "class=" +'"btn btn-primary"'
                 + " " + "onclick" + "=" +'"Delete('
                + "'" +  data[i]['Id'] + "'" +')"'+">Delete</button>"
                <!--+ "<button class=" +'"btn btn-primary"' + " " + "onclick" + "=" + '"Temp()"' + ">Edit</button>"-->
                <!--+ "<button class=" +'"btn btn-primary"' + " " + "onclick" + "=" + '"Temp()"' + ">Fetch</button>"-->
                + "</div>"
                console.log(td.innerHTML)
                tr.appendChild(td);
            }
        }

         var divContainer = document.getElementById('showAdmins');
         divContainer.innerHTML = "";
         divContainer.appendChild(table);
      }

      function Temp(lala){
      console.log("i am here")
      console.log(lala)
      }

    </script>
<!--
  </body>
-->
</html>
