<html>
  <head>
    <style>

     body {
        background-image: url("http://wallpapercave.com/wp/GProxpt.jpg");
      }
      #outPopUp {
        position: absolute;
        width: 300px;
        height: 200px;
        z-index: 15;
        top: 30%;
        left: 50%;
        margin: -100px 0 0 -150px;
      }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  </head>
  <body>
    <br>
    <div id = "outPopUp">
      <h3> Create New Project </h1>
      Title:<br>
      <input type="text" name="title"><br>
      Hours Spent:<br>
      <input type="text" name="hours spent"><br>
      Hours Estimated:<br>
      <input type="text" name="hours estimated"><br>
      Last Build Date:<br>
      <input type="date" name="last build date"><br>
      Next Build Date:<br>
      <input type="date" name="next build date"><br>
      <br>
      <br>
      <button type="button" onclick="CreateProject()" class="btn btn-info">Create Project</button>
    </div>
    <script>
    token = ""
    token = localStorage.getItem("token");
    console.log(token)

    function CreateProject(){
        console.log("tempppppppsdpsdpspdsp")
        var Title = document.getElementsByName("title");
        var HoursSpent  = document.getElementsByName("hours spent");
        var HoursEstimated = document.getElementsByName("hours estimated");
        var LastBuildDate = document.getElementsByName("last build date");
        var NextBuildDate = document.getElementsByName("next build date");

        $.ajax({
          type: "POST",
          dataType: "json",
          headers: {
           'Authorization' : 'Token ' + token
          },
          data: { Title : Title[0].value , HoursSpent : HoursSpent[0].value,
                  HoursEstimated : HoursEstimated[0].value , LastBuildDate : LastBuildDate[0].value,
                  NextBuildDate : NextBuildDate[0].value },
          url: "http://localhost:8000/snippets/projectinstance",
          success: function(data) {
            console.log("posted");
             }
          })
      }

    </script>
  </body>
</html>